{% extends "main/base.html" %}
{% block title %}Designation{% endblock %}
{% block content %}
{% load static %}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white">Afrigil Consult >> Destinations</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Destinations</h6>
            <h1 class="mb-5">Explore Top Destinations by Country</h1>
        </div>

        <div class="row g-3">

            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    {% for destination in descriptions %}
                    <div class="col-lg-12 col-md-12" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{{ destination.image.url }}" alt="{{ destination.country }}">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">{{ destination.country }}</div>
                        </a>
                    </div>
                    {% endfor %}
                    <div class="col-lg-6 col-md-12" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-2.jpg' %}" alt="Malaysia">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">Malaysia</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-3.jpg' %}" alt="Australia">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">Australia</div>
                        </a>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}