{% extends "main/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white mb-3">Welcome to Afrigil Consult</h1>
                <p class="fs-4 text-white mb-4">Enjoy your trip with us, we take you to everywhere you wish</p>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Afrigil Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-passport text-primary mb-4"></i>
                        <h5>Passport Application</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/passport.jpg' %}" alt="">
                        <a href="{% url 'main:passport' %}" class="btn btn-sm btn-primary mt-auto service-btn">Apply</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-certificate text-primary mb-4"></i>
                        <h5>Birth Certificate</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/birth_cert.jpg' %}" alt="">
                        <a href="{% url 'main:birthcert' %}" class="btn btn-sm btn-primary mt-auto" style="border-radius: 30px;">Apply</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Admission Assistance</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/admin.jpeg' %}" alt="">
                        <a href="{% url 'main:contact' %}" class="btn btn-sm btn-primary mt-auto" style="border-radius: 30px;">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Visa Assistance</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/visa.jpeg' %}" alt="">
                        <a href="{% url 'main:bookflight' %}" class="btn btn-sm btn-primary mt-auto service-btn">Ask For Help</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-plane text-primary mb-4"></i>
                        <h5>Flight Ticketing</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/flight.jpg' %}" alt="">
                        <a href="{% url 'main:bookflight' %}" class="btn btn-sm btn-primary mt-auto service-btn">Book Flight</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-bed text-primary mb-4"></i>
                        <h5>Hotel Reservation</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/hotel.jpg' %}" alt="">
                        <a href="{% url 'main:hotel_reserve' %}" class="btn btn-sm btn-primary mt-auto service-btn">Book a Hotel</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-book text-primary mb-4"></i>
                        <h5>Scholarships</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/scholar.png' %}" alt="">
                        <a href="{% url 'main:scholar' %}" class="btn btn-sm btn-primary mt-auto service-btn">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="service-item rounded pt-3 h-100 d-flex flex-column">
                    <div class="p-4 text-center flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa fa-3x fa-cubes text-primary mb-4"></i>
                        <h5>Available Packages</h5>
                        <img class="service-img img-fluid mb-3" src="{% static 'images/main/pack.jpeg' %}" alt="">
                        <a href="{% url 'main:package' %}" class="btn btn-sm btn-primary mt-auto service-btn">Check</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Destinations</h6>
            <h1 class="mb-5">Explore Top Destinations by Country</h1>
        </div>
        <div class="row g-3">
            <!-- Main large destination image -->
            <div class="col-lg-5 col-md-6" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/main/destination-4.jpg' %}" alt="Indonesia" style="object-fit: cover;">
                    <div class="bg-white text-primary fw-bold position-absolute bottom-center">Indonesia</div>
                </a>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-1.jpg' %}" alt="Thailand">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">Thailand</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-2.jpg' %}" alt="Malaysia">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">Malaysia</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-3.jpg' %}" alt="Australia">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-center">Australia</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Holidays</h6>
            <h1 class="mb-5">Holidays by Interest</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 " data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-1.jpg' %}" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Thailand</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 " data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-2.jpg' %}" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 " data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="{% static 'images/main/destination-3.jpg' %}" alt="">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Australia</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 " data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/main/destination-4.jpg' %}" alt="" style="object-fit: cover;">
                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                    <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Indonesia</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Packages By Interest</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/package-1.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/package-3.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Malaysia</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/package-2.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/package-2.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/package-1.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="text-center">
        <h6 class="section-title bg-white text-center text-primary px-3">Scholarship</h6>
        <h1 class="mb-5">Scholarship Listings</h1>
    </div>
    <div class="accordion" id="scholarshipAccordion">
        {% for scholarship in scholarships %}
            <div class="card">
                <div class="card-header" id="heading-{{ forloop.counter0 }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter0 }}">
                            {{ scholarship.title }} - Host Country: {{ scholarship.host_country }}
                        </button>
                    </h2>
                </div>
                <div id="collapse-{{ forloop.counter0 }}" class="collapse" aria-labelledby="heading-{{ forloop.counter0 }}" data-parent="#scholarshipAccordion">
                    <div class="card-body">
                        <div class="field">
                            <h3>Eligible Countries:</h3>
                            <ul class="list-group">
                                {% for country in scholarship.eligible_countries.all %}
                                    <li class="list-group-item">{{ country }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Eligible Categories:</h3>
                            <ul class="list-group">
                                {% for category in scholarship.eligible_categories.all %}
                                    <li class="list-group-item">{{ category }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Benefits:</h3>
                            <ul class="list-group">
                                {% for benefit in scholarship.benefits.all %}
                                    <li class="list-group-item">{{ benefit }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Application Link:</h3>
                            <p><a href="{{ scholarship.link }}" target="_blank" class="btn btn-primary service-btn">Apply Here</a></p>
                        </div>
                        <div class="field">
                            <h3>Application Deadline:</h3>
                            <p>{{ scholarship.deadline }}</p>
                        </div>
                        <div class="field">
                            <h3>Date Created:</h3>
                            <p>{{ scholarship.created_at }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button class="btn btn-lg">
            <a href="{% url 'main:scholar' %}">See More scholarship oppotunities</a>
        </button>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        </i><i class="fa fa-wrench fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Choose A Services</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Select a service from the provided services</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-newspaper fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Fill the Form</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Provide all the neccessary information</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-microchip fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Commencement of process</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">The process start once the form is submitted</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
            <h1 class="mb-5">Meet Our Guide</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/team-1.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/team-2.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/team-3.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'images/main/team-4.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}