{% extends "main/base.html" %}
{% block title %}Scholarship{% endblock %}
{% block content %}
{% load static %}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white">Afrigil Consult >> Scholarships</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center mb-5">Scholarship Listings</h1>
    <div class="accordion" id="scholarshipAccordion">
        {% for scholarship in scholarships %}
            <div class="card">
                <div class="card-header" id="heading-{{ forloop.counter0 }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.counter0 }}" 
                            aria-expanded="true" aria-controls="collapse-{{ forloop.counter0 }}">
                            {{ scholarship.title }} - Host Country: {{ scholarship.host_country }}
                        </button>
                    </h2>
                </div>
                <div id="collapse-{{ forloop.counter0 }}" class="collapse" aria-labelledby="heading-{{ forloop.counter0 }}" data-parent="#scholarshipAccordion">
                    <div class="card-body">
                        <div class="field">
                            <h3>Eligible Countries:</h3>
                            <ul class="list-group">
                                {% for country in scholarship.eligible_countries.all %}
                                    <li class="list-group-item">{{ country }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Eligible Categories:</h3>
                            <ul class="list-group">
                                {% for category in scholarship.eligible_categories.all %}
                                    <li class="list-group-item">{{ category }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Benefits:</h3>
                            <ul class="list-group">
                                {% for benefit in scholarship.benefits.all %}
                                    <li class="list-group-item">{{ benefit }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="field">
                            <h3>Application Link:</h3>
                            <p><a href="{{ scholarship.link }}" target="_blank" class="btn btn-primary service-btn">Apply Here</a></p>
                        </div>
                        <div class="field">
                            <h3>Application Deadline:</h3>
                            <p>{{ scholarship.deadline }}</p>
                        </div>
                        <div class="field">
                            <h3>Date Created:</h3>
                            <p>{{ scholarship.created_at }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}